* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,
body {
height: 100%;
width: 100%,
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    // background-color: lightblue;
    // background-image: url(https://images.unsplash.com/photo-1713325803954-722cd5c99046?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    
    .box{
        height: 300px;
        width: 450px;
        background-color: yellow;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    
    }
    h1{
        font-size: 50px;
        // background-color: yellow;
        // padding: 50px 50px;
        font-family: Arial, Helvetica, sans-serif;

    }
    h3{
        font-size: 30px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    h4{
        font-size: 25px;
    }
    button{
        padding: 20px 50px;
        background-color: red;
        border-radius: 15px;
        border: none;
        font-size: 25px;
        font-weight: 500;
    }
    button:active{
        scale: 0.95;
    }
}